[Unit]
Description=cmstats

[Service]
Type=oneshot
ExecStart=/home/lcladmin/cmstats/env/bin/python /home/lcladmin/cmstats/cmstats.py
WorkingDirectory=/home/lcladmin/cmstats/
